body {
  background-color: #ade873;
}


#container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  text-align: auto;
}
.grid {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid rosybrown;
}